<ion-card class="catalog-card">

  <img [src]="servizio.immagine || ''" [alt]="servizio.nome">

  <ion-card-header>
    <ion-card-subtitle>
      {{ servizio.categoria }}
    </ion-card-subtitle>

    <ion-card-title>
      {{ servizio.nome }}
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p>
      Servizio professionale disponibile su richiesta.
    </p>

    <div class="card-info">
      <ion-badge color="success">
        {{ servizio.categoria }}
      </ion-badge>

      <strong style="color: #f5a623; font-size: 1.2rem;">
        {{ servizio.prezzo_base || 'Su preventivo' }}
      </strong>
    </div>

    <ion-button fill="clear" class="btn-glass-favorite" (click)="onTogglePreferito(servizio)">
      <ion-icon slot="icon-only" [name]="servizio.preferito ? 'heart' : 'heart-outline'"></ion-icon>
    </ion-button>
  </ion-card-content>

</ion-card>
