<ion-header class="ion-no-border">
  <ion-toolbar color="dark" [class.main-toolbar]="!showBack">
    @if (showBack) {
      <ion-buttons slot="start">
        <ion-button [routerLink]="backLink">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    }

    <ion-title [class.brand]="!showBack">
      @if (!showBack) {
        <span class="brand-icon">⚙</span>
      }
      {{ title }}
    </ion-title>

    @if (!showBack || showLogout) {
      <ion-buttons slot="end">
        @if (!showBack && !utenteLoggato()) {
          <ion-button class="apple-btn-header" routerLink="/login">
            Login
          </ion-button>
        }

        @if (!showBack && utenteLoggato()) {
          <ion-button class="apple-btn-header" [routerLink]="dashboardLink">
            {{ dashboardLabel }}
          </ion-button>
        }

        @if (showLogout && utenteLoggato()) {
          <ion-button
            class="apple-btn-header btn-logout"
            routerLink="/home"
            (click)="logout()">
            Logout
          </ion-button>
        }
      </ion-buttons>
    }
  </ion-toolbar>
</ion-header>
