<ion-card class="catalog-card">

  <img
    [src]="prodotto.immagine || ''"
    [alt]="prodotto.nome">

  <ion-card-header>

    <ion-card-subtitle>
      {{ prodotto.categoria }}
    </ion-card-subtitle>

    <ion-card-title>
      {{ prodotto.nome }}
    </ion-card-title>

  </ion-card-header>

  <ion-card-content>

    <p>
      Voce prodotto del catalogo Metal Lab.
    </p>

    <div class="card-info">
      <ion-badge color="medium">
        {{ prodotto.categoria }}
      </ion-badge>

      <strong>
        {{ prodotto.prezzo_base || 'Su preventivo' }}
      </strong>
    </div>
    
    <ion-button fill="clear" class="btn-glass-favorite" (click)="onTogglePreferito(prodotto)">
      <ion-icon slot="icon-only" [name]="prodotto.preferito ? 'heart' : 'heart-outline'"></ion-icon>
    </ion-button>

  </ion-card-content>

</ion-card>
