<ion-header class="ion-no-border">
  <ion-toolbar color="dark"> 
    
    <ion-buttons slot="start">
      <ion-button routerLink="/dashboard-cliente">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Area Personale
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="intervention-header">
    <ion-icon name="construct-outline"></ion-icon>

    <h1>Richiedi il tuo intervento</h1>

    <p>
      Compila il form per richiedere un intervento di manutenzione o assistenza
      presso la tua sede.
    </p>
  </section>

  <ion-card class="intervention-card">
    <ion-card-content>

      <ion-item>
        <ion-label position="stacked">Descrizione problema</ion-label>
        <ion-textarea
          placeholder="Descrivi il problema o l’intervento richiesto"
          [(ngModel)]="descrizione">
        </ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Luogo intervento</ion-label>
        <ion-input
          placeholder="Es. stabilimento, officina, indirizzo"
          [(ngModel)]="luogo">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Priorità</ion-label>
        <ion-select
          placeholder="Seleziona priorità"
          [(ngModel)]="priorita"
          [interfaceOptions]="{ cssClass: 'custom-dark-alert' }"> <ion-select-option value="Bassa">Bassa</ion-select-option>
          <ion-select-option value="Media">Media</ion-select-option>
          <ion-select-option value="Alta">Alta</ion-select-option>

        </ion-select>
      </ion-item>
  
      <ion-item button="true" detail="false" id="apri-calendario">
        <ion-label position="stacked">Data preferita</ion-label>
        <ion-input
          [readonly]="true"
          placeholder="Seleziona una data"
          [value]="dataFormattata">
        </ion-input>
        <ion-icon slot="end" name="calendar-outline" style="color: #f5a623; font-size: 22px; margin-top: 14px;"></ion-icon>
      </ion-item>

      <ion-modal trigger="apri-calendario" class="dark-calendar-modal">
        <ng-template>
          <ion-datetime
            presentation="date"
            [(ngModel)]="dataIntervento"
            [min]="dataMinima"
            class="custom-amber-calendar"
            [showDefaultButtons]="true"
            doneText="Conferma"
            cancelText="Annulla">
          </ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-button
        expand="block"
        class="btn-glass-submit"
        [disabled]="!formValido"
        (click)="inviaIntervento()">
        Invia richiesta intervento
      </ion-button>

      @if (interventoInviato) {
        <div class="success-message">
          Richiesta intervento inviata correttamente.
        </div>
      }

    </ion-card-content>
  </ion-card>

</ion-content>