// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root,
:root.ios,
:root.md {
  color-scheme: dark;

  --ion-background-color: #0b0f14;
  --ion-background-color-rgb: 11, 15, 20;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-toolbar-background: #0b0f14;
  --ion-toolbar-color: #ffffff;

  --ion-color-dark: #0b0f14;
  --ion-color-dark-rgb: 11, 15, 20;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #0a0d12;
  --ion-color-dark-tint: #23272c;
}
